[submodule "quickstart/themes/Hugo-Octopress"]
	path = quickstart/themes/Hugo-Octopress
	url = https://github.com/parsiya/Hugo-Octopress
[submodule "quickstart/themes/hugo-code-editor-theme"]
	path = quickstart/themes/hugo-code-editor-theme
	url = https://github.com/aubm/hugo-code-editor-theme
[submodule "quickstart/themes/polymer"]
	path = quickstart/themes/polymer
	url = https://github.com/pdevty/polymer
[submodule "quickstart/themes/hugo-bootstrap-premium"]
	path = quickstart/themes/hugo-bootstrap-premium
	url = https://github.com/appernetic/hugo-bootstrap-premium
[submodule "quickstart/themes/hugo-classic"]
	path = quickstart/themes/hugo-classic
	url = https://github.com/goodroot/hugo-classic
